services:
  redis:
    image: redis
    ports:
      - 6379:6379

  redis-insight:
    image: redis/redisinsight:latest
    depends_on:
      - redis
    environment:
      - RI_REDIS_HOST=redis
      - RI_REDIS_PORT=6379
    ports:
      - 5540:5540