services:
  redis:
    image: redis
    ports:
      - 6379:6379

  redis-insight:
    image: redis/redisinsight:latest
    depends_on:
      - redis
    environment:
      - RI_REDIS_HOST=redis
      - RI_REDIS_PORT=6379
    ports:
      - 5540:5540

  rabbitmq:
    image: rabbitmq:4.2-management
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq/
      - rabbitmq-log:/var/log/rabbitmq/
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 1s
      timeout: 3s
      retries: 30

volumes:
  rabbitmq-log:
    driver: local
  rabbitmq-lib:
    driver: local